{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="container mt-4">
    {% include '_messages.html' %}
    <div class="row">
        <div class="col-md-12">
            <br>
            Customer name: {{customer.name}}
            <br>
            Customer email: {{customer.email}}
            <br>
            Customer contact: {{customer.contact}}
            <br>
            <br>
            <table class="table table-sm">
                <thead>
                    <th>Name</th>
                </thead>
                <tbody>
                    {% for orders in orders %}
                    {% for key, product in orders.orders.items() %}
                    <tr>
                        <td>{{product.name}}<br>
                        </td>
                        <td>{{product.price}}<br>
                        </td>
                        <td>Paid<br>
                        </td>
                    </tr>

                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock content %}