<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect with stylist</title>
</head>

<body>
    {% extends 'layout.html' %}
    {% block content %}
    {% include 'navbar.html' %}
    <div class="aboutc">


        <div class="row text-center">
            <!-- <div class="col-md-7"> -->

            <h2>Connect with our recommended Stylist advisors</h2>
            <p>Personal stylists help clients create the most suitable image by choosing clothes and accessories
                that fit clients' body types and individual needs. </p><br>
            <h2>How to connect with them??</h2>
            <p>Here is the list of our recommended stylist user Id's you can connect with any of them according to your wish and their availability status.
                This will ease up your product selection and buying process
            </p>
            <div class="row">
                <div class="col-6 h4"><b>Name</b></div>
                <div class="col-6 h5"><b>chat User Id</b></div>
            </div>
            <div class="row">
                <div class="col-6 h4">Lohith Reddy Ramireddy</div>
                <div class="col-6 h5">cse200001066@iiti.ac.in</div>
            </div>
            <div class="row">
                <div class="col-6 h4">Katta Jayanth Kumar</div>
                <div class="col-6 h5">cse200001034@iiti.ac.in</div>
            </div>
            <div class="row">
                <div class="col-6 h4">Karri Trived</div>
                <div class="col-6 h5">cse200001066@iiti.ac.in</div>
            </div>
            <div class="row">
                <div class="col-6 h4">Mudhi Reddy Sai Akshay Reddy</div>
                <div class="col-6 h5">cse200001066@iiti.ac.in</div>
            </div>
            <div class="row">
                <div class="col-6 h4">Maramreddy Krishna Ananda Reddy</div>
                <div class="col-6 h5">cse200001042@iiti.ac.in</div>
            </div>
            <h3><a href="https://chat-with-experts.netlify.app" target="_blank" >
                Our Chat Page
              </a></h3>
        </div>
        
        <!-- <div class="col-md-5">
                <img style="text-align: center; margin-left: 250px; margin-top: 100px;" src="../static/images/logo.png">
            </div> -->
    </div>
    </div>

    {% include 'footer.html' %}

    {% endblock content %}
</body>

</html>